.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}



.moving-gif {
    animation: moveSideToSide 2s infinite alternate ease-in-out;
}


.heading {
    font-family: var(--font-santoshi);
    font-weight: 1200;
    font-size: xx-large;
}

.__variable_ba7a58 {
    --font-satoshi: "__satoshi_ba7a58", "__satoshi_Fallback_ba7a58";
}

@keyframes snowfall {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(100vh); opacity: 0; }
}

.snowflake {
    position: fixed;
    top: -10px;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0.8;
    animation: snowfall 5s linear infinite;
}
